<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cours de Seconde</title>
    <link rel="stylesheet" href="../../static/PAGE_TEST/fontawesome/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" />
    <link rel="stylesheet" href="../../static/PAGE_TEST/css/tooplate-wave-cafe.css">
</head>
<body>

    <!-- Background video -->
    <div class="tm-video-wrapper">
        <i id="tm-video-control-button" class="fas fa-pause"></i>
        <video autoplay muted loop id="tm-video">
            <source src="../../static/PAGE_TEST/video/Chemistry Background.mp4" type="video/mp4">
        </video>
    </div>

    <!-- Main content -->
    <main class="tm-main">
        <div id="groupe" class="tm-page-content">
            <nav class="tm-subject-nav">
                <ul class="tm-subject-list">
                    <li><button class="tm-tab-button" data-id="Physique">Physique</button></li>
                    <li><button class="tm-tab-button" data-id="Chimie">Chimie</button></li>
                    <li><button class="tm-tab-button" data-id="Projet">Projets</button></li>
                </ul>
            </nav>
        </div>


          <!-- Contenu pour Physique -->
<div id="Physique" class="tm-chapter-list">
    <div class="tm-chapter tm-black-bg tm-transparent chapter-toggle">
        <h3 class="chapter-title">Chapitre 1 - Description d'un système mécanique</h3>
        <div class="chapter-content hidden">
            <div class="download-container">
                <a href="../../static/PAGE_TEST/Exo/EX1.pdf" download class="download-link">
                    <div class="icon-wrapper">
                        <img class="icon" src="../../static/PAGE_TEST/Exo/ICON.svg" alt="PDF Icon">
                        <span class="file-name">EX1.pdf</span>
                    </div>
                </a>
            </div>
            <div class="download-container">
                <a href="../../static/PAGE_TEST/Exo/EX2.pdf" download class="download-link">
                    <div class="icon-wrapper">
                        <img class="icon" src="../../static/PAGE_TEST/Exo/ICON.svg" alt="Video Icon">
                        <span class="file-name">EX2.pdf</span>
                    </div>
                </a>
            </div>
            <div class="download-container">
                <a href="../../static/PAGE_TEST/Exo/EX4.pdf" download class="download-link">
                    <div class="icon-wrapper">
                        <img class="icon" src="../../static/PAGE_TEST/Exo/ICON.svg" alt="PowerPoint Icon">
                        <span class="file-name">EX4.pdf</span>
                    </div>
                </a>
            </div>
            <!-- Ajouter d'autres paires d'icônes et de noms de fichiers ici -->
        </div>
    </div>

    <div class="tm-chapter tm-black-bg tm-transparent chapter-toggle">
        <h3 class="chapter-title">Chapitre 2 - Description d'un système mécanique</h3>
        <div class="chapter-content hidden">
            <div class="download-container">
                <a href="../../static/PAGE_TEST/Exo/EX1.pdf" download class="download-link">
                    <div class="icon-wrapper">
                        <img class="icon" src="../../static/PAGE_TEST/Exo/ICON.svg" alt="PDF Icon">
                        <span class="file-name">EX1.pdf</span>
                    </div>
                </a>
            </div>
            <div class="download-container">
                <a href="../../static/PAGE_TEST/Exo/EX2.pdf" download class="download-link">
                    <div class="icon-wrapper">
                        <img class="icon" src="../../static/PAGE_TEST/Exo/ICON.svg" alt="Video Icon">
                        <span class="file-name">EX2.pdf</span>
                    </div>
                </a>
            </div>
            <div class="download-container">
                <a href="../../static/PAGE_TEST/Exo/EX3.pdf" download class="download-link">
                    <div class="icon-wrapper">
                        <img class="icon" src="../../static/PAGE_TEST/Exo/ICON.svg" alt="PowerPoint Icon">
                        <span class="file-name">EX3.pdf</span>
                    </div>
                </a>
            </div>
            <!-- Ajouter d'autres paires d'icônes et de noms de fichiers ici -->
        </div>
    </div>

    <div class="tm-chapter tm-black-bg tm-transparent chapter-toggle">
        <h3 class="chapter-title">Chapitre 3 - Description d'un système mécanique</h3>
        <div class="chapter-content hidden">
            <div class="download-container">
                <a href="../../static/PAGE_TEST/Exo/EX1.pdf" download class="download-link">
                    <div class="icon-wrapper">
                        <img class="icon" src="../../static/PAGE_TEST/Exo/ICON.svg" alt="PDF Icon">
                        <span class="file-name">EX1.pdf</span>
                    </div>
                </a>
            </div>
            <div class="download-container">
                <a href="../../static/PAGE_TEST/Exo/EX2.pdf" download class="download-link">
                    <div class="icon-wrapper">
                        <img class="icon" src="../../static/PAGE_TEST/Exo/ICON.svg" alt="Video Icon">
                        <span class="file-name">EX2.pdf</span>
                    </div>
                </a>
            </div>
            <div class="download-container">
                <a href="../../static/PAGE_TEST/Exo/EX3.pdf" download class="download-link">
                    <div class="icon-wrapper">
                        <img class="icon" src="../../static/PAGE_TEST/Exo/ICON.svg" alt="PowerPoint Icon">
                        <span class="file-name">EX3.pdf</span>
                    </div>
                </a>
            </div>
            <!-- Ajouter d'autres paires d'icônes et de noms de fichiers ici -->
        </div>
    </div>
</div>



          <!-- Contenu pour Chimie -->
<div id="Chimie" class="tm-chapter-list hidden">
    <div class="tm-chapter tm-black-bg tm-transparent chapter-toggle">
        <h3 class="chapter-title">Chapitre 4 - Description d'un système mécanique</h3>
        <div class="chapter-content hidden">
            <div class="download-container">
                <a href="../../static/PAGE_TEST/Exo/EX1.pdf" download class="download-link">
                    <div class="icon-wrapper">
                        <img class="icon" src="../../static/PAGE_TEST/Exo/ICON.svg" alt="PDF Icon">
                        <span class="file-name">EX1.pdf</span>
                    </div>
                </a>
            </div>
            <div class="download-container">
                <a href="../../static/PAGE_TEST/Exo/EX2.pdf" download class="download-link">
                    <div class="icon-wrapper">
                        <img class="icon" src="../../static/PAGE_TEST/Exo/ICON.svg" alt="Video Icon">
                        <span class="file-name">EX2.pdf</span>
                    </div>
                </a>
            </div>
            <div class="download-container">
                <a href="../../static/PAGE_TEST/Exo/EX4.pdf" download class="download-link">
                    <div class="icon-wrapper">
                        <img class="icon" src="../../static/PAGE_TEST/Exo/ICON.svg" alt="PowerPoint Icon">
                        <span class="file-name">EX4.pdf</span>
                    </div>
                </a>
            </div>
            <!-- Ajouter d'autres paires d'icônes et de noms de fichiers ici -->
        </div>
    </div>

    <div class="tm-chapter tm-black-bg tm-transparent chapter-toggle">
        <h3 class="chapter-title">Chapitre 5- Description d'un système mécanique</h3>
        <div class="chapter-content hidden">
            <div class="download-container">
                <a href="../../static/PAGE_TEST/Exo/EX1.pdf" download class="download-link">
                    <div class="icon-wrapper">
                        <img class="icon" src="../../static/PAGE_TEST/Exo/ICON.svg" alt="PDF Icon">
                        <span class="file-name">EX1.pdf</span>
                    </div>
                </a>
            </div>
            <div class="download-container">
                <a href="../../static/PAGE_TEST/Exo/EX2.pdf" download class="download-link">
                    <div class="icon-wrapper">
                        <img class="icon" src="../../static/PAGE_TEST/Exo/ICON.svg" alt="Video Icon">
                        <span class="file-name">EX2.pdf</span>
                    </div>
                </a>
            </div>
            <div class="download-container">
                <a href="../../static/PAGE_TEST/Exo/EX3.pdf" download class="download-link">
                    <div class="icon-wrapper">
                        <img class="icon" src="../../static/PAGE_TEST/Exo/ICON.svg" alt="PowerPoint Icon">
                        <span class="file-name">EX3.pdf</span>
                    </div>
                </a>
            </div>
            <!-- Ajouter d'autres paires d'icônes et de noms de fichiers ici -->
        </div>
    </div>

    <div class="tm-chapter tm-black-bg tm-transparent chapter-toggle">
        <h3 class="chapter-title">Chapitre 6 - Description d'un système mécanique</h3>
        <div class="chapter-content hidden">
            <div class="download-container">
                <a href="../../static/PAGE_TEST/Exo/EX1.pdf" download class="download-link">
                    <div class="icon-wrapper">
                        <img class="icon" src="../../static/PAGE_TEST/Exo/ICON.svg" alt="PDF Icon">
                        <span class="file-name">EX1.pdf</span>
                    </div>
                </a>
            </div>
            <div class="download-container">
                <a href="../../static/PAGE_TEST/Exo/EX2.pdf" download class="download-link">
                    <div class="icon-wrapper">
                        <img class="icon" src="../../static/PAGE_TEST/Exo/ICON.svg" alt="Video Icon">
                        <span class="file-name">EX2.pdf</span>
                    </div>
                </a>
            </div>
            <div class="download-container">
                <a href="../../static/PAGE_TEST/Exo/EX3.pdf" download class="download-link">
                    <div class="icon-wrapper">
                        <img class="icon" src="../../static/PAGE_TEST/Exo/ICON.svg" alt="PowerPoint Icon">
                        <span class="file-name">EX3.pdf</span>
                    </div>
                </a>
            </div>
            <!-- Ajouter d'autres paires d'icônes et de noms de fichiers ici -->
        </div>
    </div>
</div>



    </main>

    <!-- Scripts -->
    <script src="../../static/PAGE_TEST/js/jquery-3.4.1.min.js"></script>
    <script src="../../static/PAGE_TEST/js/ScriptTest.js"></script>

</body>
</html>
